@import "variables";


body{
    margin: 0;
    font-family: Abel;
    header{
        nav{
            background-color: $fond;
            
            .navi{
                width: 80%;
                margin: auto;
                display: flex;
                
                #myLinks{
                    display: none;
                    color: white;
                    align-self: center;
                    margin: auto;
                    
                    .flexx{
                        display: flex;
                        @media (max-width: 768px){
                            flex-direction: column;
                        };
                        a{
                            text-decoration: none;
                            color: white;
                            
                        }
                    }
                   
                }
                .icon{
                    background-color: $texte;
                    align-self: center;
                    padding: 1em;
                    position: absolute;
                    right: 10%;
                    i{
                        color: white;
                    }
                    
                }
                .icon:hover{
                    background-color: white;
                    i{
                        background-color: black;
                    }
                }
            }
    }
    
       
        
    }

    .section1{
        background-color: $fond;
        padding-top: 5%;
        padding-bottom: 10%;
        .center{
            width: 80%;
            margin: auto;

            h1{
                color: $texte;
                font-size: 7em;
                width: 60%;
                @media (max-width: 768px){
                    font-size: 5em;
                };
            }
            p{
                color: white;
            }
            .bouton1{
                font-size: 15px;
                    padding: 10px 15px;
                    border-radius: 20px;
                    background-color: $fond;
                    color: white;
                    border: 2px solid $texte;
                    cursor: pointer;
            }
        }
    }

    .section2{
        background-color: $texte;
        padding-top: 3%;
        padding-bottom: 3%;
        p{
            width: 70%;
            margin: auto;
        }
    }

    .section3{
        width: 80%;
        margin: auto;
        padding-top: 10%;
        
        .flex{
            display: flex;
            justify-content: space-between;
            @media (max-width: 768px){
                flex-direction: column;
            };
            .groupe{
                width: 30%;
                @media (max-width: 768px){
                    width: 100%;
                };
                i{
                    background-color: $texte;
                    padding: 3%;
                }
        
                h2{
                    color: $texte;
                    font-size: 4em;
                }
            }
           
        }
        

        .boutonc{
            display: flex;
            justify-content: center;
            padding-top: 10%;
            padding-bottom: 10%;
            .bouton2{
            
                font-size: 15px;
                padding: 10px 15px;
                border-radius: 20px;
                background-color: white;
                color: black;
                border: 2px solid $texte;
                cursor: pointer;
            }
        }

       
    }

    .section4{
        background-color: $fond;
        padding-top: 6%;
        padding-bottom: 6%;
        .flex{
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: auto;
            text-align: center;
            @media (max-width: 768px){
                flex-direction: column;
            };
            .groupe1{
                color: $texte;
                @media (max-width: 768px){
                    margin-top: 15%;
                };
                
                #compteur{
                    font-size: 3em;
                }
                #compteur1{
                    font-size: 3em;
                }
                #compteur2{
                    font-size: 3em;
                }
                #compteur3{
                    font-size: 3em;
                }
            }
        }
        
    }

    .section5{
        margin-top: 10%;
        .marge{
            width: 80%;
            margin: auto;
            h3{
                color: $texte;
                font-size: 3em;
            }
        }
       
        .warp{
            display: flex;
            flex-wrap: wrap;
            
           

           
            
        }
    }

    .section6{
        background-color: $fond;
        padding-top: 10%;
        padding-bottom: 10%;
        .marge{
            width: 80%;
            margin: auto;
            h3{
                color: $texte;
                font-size: 3em;
            }
            p{
                color: $texte;
            }
        }
        .logo{
            display: flex;
            justify-content: space-around;
            @media (max-width: 768px){
                flex-direction: column;
                width: 30%;
                margin: auto;
                
            };
            img{
                @media (max-width: 768px){
                    margin-top: 50%;
                };
            }
        }
    }

    .section7{
        width: 80%;
        margin: auto;
        padding-bottom: 5%;
        h4{
            color: $texte;
            font-size: 3em;
        }

        .formulaire{
            background-color: $form;
            padding-bottom: 5%;
            .form1{
                width: 80%;
                margin: auto;
                padding-top: 5%;
                form{
                    width: 15%;
                    border-color: $texte;
                }
                .bouton{
                    font-size: 15px;
                        padding: 10px 15px;
                        border-radius: 5px;
                        background-color: $texte;
                        color: white;
                        border: 2px solid $texte;
                        cursor: pointer;
                        
                }
                #prenom{
                    display : block;

                    padding : 10px;
                    margin  : 10px 0 0 0px;
                    width   : 800px;
                    border: 1px solid $texte;
                  
                    resize  : none;
                    overflow: auto;
                    margin-bottom: 20%;
                    @media (max-width: 768px){
                        width: 200px;
                    };
                }
                #name{
                    display : block;
                    border: 1px solid $texte;
                    padding : 10px;
                    margin  : 10px 0 0 0px;
                    width   : 800px;
                    
                  
                    resize  : none;
                    overflow: auto;
                    margin-bottom: 20%;
                    @media (max-width: 768px){
                        width: 200px;
                    };
                }
                #option{
                    display : block;
                    border: 1px solid $texte;
                    padding : 10px;
                    margin  : 10px 0 0 0px;
                    width   : 820px;
                    background-color: $form;
                  
                    resize  : none;
                    overflow: auto;
                    margin-bottom: 20%;
                    @media (max-width: 768px){
                        width: 220px;
                    };
                }
                #msg{
                    display : block;
                    border: 1px solid $texte;
                    padding : 10px;
                    margin  : 10px 0 0 0px;
                    width   : 800px;
                    height  : 150px;
                  
                    resize  : none;
                    overflow: auto;
                    margin-bottom: 20%;
                    @media (max-width: 768px){
                        width: 200px;
                    };
                }
            }
            
        }
    }

    .section8{
        background-color: $texte;
        padding-top: 5%;
        padding-bottom: 5%;
        .centre{
            display: flex;
            width: 80%;
            margin: auto;
            justify-content: space-evenly;
            @media (max-width: 768px){
                flex-direction: column;
            };
            

            .back{
                display: flex;
                
                
                
                i{
                    background-color: black;
                    color:white ;
                    
                }
            }
        }
    }

    footer{
        background-color: $fond;
        color: white;
        text-align: center;
        padding-top: 5%;
        padding-bottom: 5%;
        .color{
            color: $texte;
        }
        .social{
            display: flex;
            text-align: center;
            justify-content: space-evenly;
            width: 20%;
            margin: auto;
            @media (max-width: 768px){
                width: 50%;
            };
        }
    }
}