body {
  margin: 0;
  font-family: Abel;
}
body header nav {
  background-color: #17191E;
}
body header nav .navi {
  width: 80%;
  margin: auto;
  display: flex;
}
body header nav .navi #myLinks {
  display: none;
  color: white;
  align-self: center;
  margin: auto;
}
body header nav .navi #myLinks .flexx {
  display: flex;
}
body header nav .navi #myLinks .flexx a {
  text-decoration: none;
  color: white;
}
body header nav .navi .icon {
  background-color: #FFDA00;
  align-self: center;
  padding: 1em;
  position: absolute;
  right: 10%;
}
body header nav .navi .icon i {
  color: white;
}
body header nav .navi .icon:hover {
  background-color: white;
}
body header nav .navi .icon:hover i {
  background-color: black;
}
body .section1 {
  background-color: #17191E;
  padding-top: 5%;
  padding-bottom: 10%;
}
body .section1 .center {
  width: 80%;
  margin: auto;
}
body .section1 .center h1 {
  color: #FFDA00;
  font-size: 7em;
  width: 60%;
}
body .section1 .center p {
  color: white;
}
body .section1 .center .bouton1 {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: #17191E;
  color: white;
  border: 2px solid #FFDA00;
  cursor: pointer;
}
body .section2 {
  background-color: #FFDA00;
  padding-top: 3%;
  padding-bottom: 3%;
}
body .section2 p {
  width: 70%;
  margin: auto;
}
body .section3 {
  width: 80%;
  margin: auto;
  padding-top: 10%;
}
body .section3 .flex {
  display: flex;
  justify-content: space-between;
}
body .section3 .flex .groupe {
  width: 30%;
}
body .section3 .flex .groupe i {
  background-color: #FFDA00;
  padding: 3%;
}
body .section3 .flex .groupe h2 {
  color: #FFDA00;
  font-size: 4em;
}
body .section3 .boutonc {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
}
body .section3 .boutonc .bouton2 {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 20px;
  background-color: white;
  color: black;
  border: 2px solid #FFDA00;
  cursor: pointer;
}
body .section4 {
  background-color: #17191E;
  padding-top: 6%;
  padding-bottom: 6%;
}
body .section4 .flex {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  text-align: center;
}
body .section4 .flex .groupe1 {
  color: #FFDA00;
}
body .section4 .flex .groupe1 #compteur {
  font-size: 3em;
}
body .section4 .flex .groupe1 #compteur1 {
  font-size: 3em;
}
body .section4 .flex .groupe1 #compteur2 {
  font-size: 3em;
}
body .section4 .flex .groupe1 #compteur3 {
  font-size: 3em;
}
body .section5 {
  margin-top: 10%;
}
body .section5 .marge {
  width: 80%;
  margin: auto;
}
body .section5 .marge h3 {
  color: #FFDA00;
  font-size: 3em;
}
body .section5 .warp {
  display: flex;
  flex-wrap: wrap;
}
body .section6 {
  background-color: #17191E;
  padding-top: 10%;
  padding-bottom: 10%;
}
body .section6 .marge {
  width: 80%;
  margin: auto;
}
body .section6 .marge h3 {
  color: #FFDA00;
  font-size: 3em;
}
body .section6 .marge p {
  color: #FFDA00;
}
body .section6 .logo {
  display: flex;
  justify-content: space-around;
}
body .section7 {
  width: 80%;
  margin: auto;
  padding-bottom: 5%;
}
body .section7 h4 {
  color: #FFDA00;
  font-size: 3em;
}
body .section7 .formulaire {
  background-color: #F2F2F2;
  padding-bottom: 5%;
}
body .section7 .formulaire .form1 {
  width: 80%;
  margin: auto;
  padding-top: 5%;
}
body .section7 .formulaire .form1 form {
  width: 15%;
  border-color: #FFDA00;
}
body .section7 .formulaire .form1 .bouton {
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #FFDA00;
  color: white;
  border: 2px solid #FFDA00;
  cursor: pointer;
}
body .section8 {
  background-color: #FFDA00;
  padding-top: 5%;
  padding-bottom: 5%;
}
body .section8 .centre {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-evenly;
}
body .section8 .centre .back {
  display: flex;
}
body .section8 .centre .back p {
  width: 40%;
}
body .section8 .centre .back i {
  background-color: black;
  color: white;
}
body footer {
  background-color: #17191E;
  color: white;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}
body footer .color {
  color: #FFDA00;
}
body footer .social {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  width: 20%;
  margin: auto;
}/*# sourceMappingURL=style.css.map */