@import "variables";


body{
    margin: 0;
    font-family: Abel;
    header{
        nav{
            background-color: $fond;
            
            .navi{
                width: 80%;
                margin: auto;
                display: flex;
                
                #myLinks{
                    display: none;
                    color: white;
                    align-self: center;
                    
                    .flexx{
                        display: flex;
                        a{
                            text-decoration: none;
                            color: white;
                            
                        }
                    }
                   
                }
                .icon{
                    background-color: $texte;
                    align-self: center;
                    padding: 1em;
                    position: absolute;
                    right: 10%;
                    i{
                        color: white;
                    }
                    
                }
                .icon:hover{
                    background-color: white;
                    i{
                        background-color: black;
                    }
                }
            }
    }
    
       
        
    }

    .section1{
        background-color: $fond;
        padding-top: 5%;
        padding-bottom: 10%;
        .center{
            width: 80%;
            margin: auto;

            h1{
                color: $texte;
                font-size: 7em;
                width: 60%;
            }
            p{
                color: white;
            }
            .bouton1{
                font-size: 15px;
                    padding: 10px 15px;
                    border-radius: 20px;
                    background-color: $fond;
                    color: white;
                    border: 2px solid $texte;
                    cursor: pointer;
            }
        }
    }

    .section2{
        background-color: $texte;
        padding-top: 3%;
        padding-bottom: 3%;
        p{
            width: 70%;
            margin: auto;
        }
    }

    .section3{
        width: 80%;
        margin: auto;
        padding-top: 10%;
        
        .flex{
            display: flex;
            justify-content: space-between;
            .groupe{
                width: 30%;
                i{
                    background-color: $texte;
                    padding: 3%;
                }
        
                h2{
                    color: $texte;
                    font-size: 4em;
                }
            }
           
        }
        

        .boutonc{
            display: flex;
            justify-content: center;
            padding-top: 10%;
            padding-bottom: 10%;
            .bouton2{
            
                font-size: 15px;
                padding: 10px 15px;
                border-radius: 20px;
                background-color: white;
                color: black;
                border: 2px solid $texte;
                cursor: pointer;
            }
        }

       
    }

    .section4{
        background-color: $fond;
        padding-top: 6%;
        padding-bottom: 6%;
        .flex{
            display: flex;
            justify-content: space-between;
            width: 70%;
            margin: auto;
            text-align: center;
            .groupe1{
                color: $texte;
                #compteur{
                    font-size: 3em;
                }
            }
        }
        
    }

    .section5{
        margin-top: 10%;
        .marge{
            width: 80%;
            margin: auto;
            h3{
                color: $texte;
                font-size: 2em;
            }
        }
       
        .warp{
            display: flex;
            flex-wrap: wrap;
            
            

           
            
        }
    }

    .section6{
        background-color: $fond;
        padding-top: 10%;
        padding-bottom: 10%;
        .marge{
            width: 80%;
            margin: auto;
            h3{
                color: $texte;
                font-size: 2em;
            }
            p{
                color: $texte;
            }
        }
        .logo{
            display: flex;
            justify-content: space-around;
        }
    }

    .section7{
        width: 80%;
        margin: auto;
        h4{
            color: $texte;
        }

        .formulaire{
            background-color: $form;
            form{
                width: 15%;
            }
        }
    }
}